@import "bootstrap/dist/css/bootstrap";


.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  margin-top: 15px;
  display: inline-block;
}


.btn-size {
  height: 50px;
  padding-bottom: 0 !important;
  padding-top: 0 !important;

}


.table-margin {
  margin-top: 25px;
}

.logout-button {
  margin-right: 5px;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 5px;
}

